/* css valid for all files of this project */
body,html {
	height: 100%;
}
/* hide output fields initially, fade them in when needed */
.status {
	display: none;
    float: left;
    height: 22px;
    position: relative;
    width: 100%;
}
